<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .flag{
        width: 200px;
        height:160px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12!">Gestor de Clientes</h1>
        <button class="btn btn-info col-lg-8 col-xs-12" on-click="obtenerClientes"  type="button" name="button">Obtener Clientes</button>
        <button class="btn btn-warning col-lg-8 col-xs-12" on-click="anadirClientes"  type="button" name="button">Registrar Clientes</button>
      </div>
      <div class="row">
        <table hidden$="{{noCargados}}" class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.idCliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          noCargados:{
            type: Boolean,
            value: true
          },
          respuesta :{
            type: Object
          }
        };
      }
      obtenerClientes(){
        var url = "http://localhost:3002/movimientos";
        var request = new XMLHttpRequest();
        request.open("GET",url,false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
        this.noCargados = false;
      }
      anadirCliente(){
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST",url,false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-type", "application/json");

        var nuevoCliente = {"CistomerID":"12345", "ContactName":"Leo", "CompnayName":"Barcelona"};
        var body = JSON.strinify(nuecoCliente);

        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
        this.noCargados = false;

      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
